Scrapy==0.24.5
ScrapyElasticSearch==0.6.1
Twisted==15.0.0
argparse==1.2.1
cffi==0.9.1
characteristic==14.3.0
cryptography==0.8
cssselect==0.9.1
enum34==1.0.4
html2text==2015.2.18
lxml==3.4.2
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pyes==0.99.5
queuelib==1.2.2
requests==2.6.0
service-identity==14.0.0
six==1.9.0
urllib3==1.10.2
w3lib==1.11.0
wsgiref==0.1.2
zope.interface==4.1.2
