# Logs:
*.log
*.csv
*.json

# Process .pid files
*.pid

# Python template
__pycache__/
*.py[cod]
*$py.class

# Backups
*.bak

# Sphinx documentation
docs/_build/

# Environments
.env
.venv
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/
data/

# hidden folders
.idea/
